#header{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#4B0082;
  color: white;
  padding: 10px,10px;
}
#p{
	text-align: center;
	font-size: 30px;
}
h1{
	padding-left: 320px;
}
ul{
	list-style-type: disc;
	padding-left: 420px;
}
li{
	font-size: 30px;
}
a{
	text-decoration: none;
	font-size: 40px;
	font-family: bold;
    font-family: italic;
}
a:hover{
	color:orange;
}